.liste {
    display: flex;
}

.characard {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.card .card-footer:hover {
    background-color: #f7c1c1;
    transition: 0.3s;
}

.card .card-footer {
    transition: 0.3s;
}